* {
    box-sizing: border-box;
}

.octocat {
    display: inline-block;
    float: left;
    padding: 10px;
    width: 33%;
}

.octocat > a {
    border: 1px solid #CACACA; 
    display: inline-block;   
    position: relative;
}

.octocat > a:after {
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #cacaca transparent transparent transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
}

img {
    width: 100%;
}

.image-footer {
    border-bottom: 1px solid #CACACA;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.image-footer:after {
    content: "";
    display: table;
    clear: both;
}

.image-number {
    color: #CACACA;
    float: left;
    padding-top: 10px;
}

.image-number:before {
    content: "#";
}

.image-caption {
    color: #7A7C7D;
    float: right;
}

.image-caption * {
    vertical-align: middle;
}

.image-caption a {
    color: black;
    text-decoration: none;
}

.authors {
    display: inline-block;
    padding: 0;
}

.authors li {
    list-style: none;
}
.authors img {
    width: 30px;
}

